$main-color: #2878FF;
$main-color-hover: #1b65e5;
$secondary-color: #6D38E8;
$secondary-color-hover: #5a24d8;
$third-color: #FBFF26;
$heart-color: #FE7879;
$text-color: #EDF5FC;
$text-color-hover: #90a1b3;
$link-color: #0037ff;
$main-transtion: 0.3s;
$hand-writing: 'Handlee', cursive;