section.footer 
  .container
    .row
      .social
        a(target="blank" href="https://www.instagram.com/alli_zaghloul/")
            <i class="fa-brands fa-instagram"></i>
        a(target="blank" href="https://www.facebook.com/ali.zaghloul.393 ")
            <i class="fa-brands fa-facebook"></i>
        a(target="blank" href="https://www.linkedin.com/in/ali-tarek-zaghloul-32b898223/")
            <i class="fa-brands fa-linkedin"></i>
      .name
        h2 Ali Tarek Zaghloul
      .num-rights
        p +201027393406
        p @ all rights reserved